* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 2.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    margin: 0;
    text-align: center;
    font-size: 5em;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    display: flex;
    align-items: center;
}

.temperature > img {
    width: 85px;
}

.temperature > p {
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-left: -10px;
}

.location {
    align-self: flex-end;
    font-size: 1.5em;
    letter-spacing: .5px;
    margin-top: -1em;
}

.notes {
    position: absolute;
    z-index: 100;
    top: 0;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    width: 275px;
    height: max-content; /* ???read about it */
    max-width: 325px;
    padding: 15px;
    background: rgba(155, 153, 151, .5);
    border-radius: 25px;
    font-size: 1rem;
}

.notes-top {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 1px;
}

.notes-top > img {
    width: 15%;
    max-width: 25px;
    padding: 2px;
    opacity: .9;
}

.input {
    width: 80%;
    margin-left: 5px;
    border: none;
    outline: none;
    cursor: text;
    color: white;
    background: none;
    border-bottom: 1px solid #fff;
}

.note {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
    word-break: break-all;
}

.note > p {
    cursor: default;
}

.delete-btn {
    width: 1em;
    height: 1em;
    margin-left: 5px;
    cursor: pointer;
}

.author {
    font-size: 1.35em;
    opacity: .9;
}

.quote {
    text-align: center;
    font-size: 1.75em;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.refresh {
    border-radius: 50%;
    background: rgba(155, 153, 151, .5);
}

.refresh:hover,
.refresh:focus {
    background: rgba(125, 124, 123, .9);
    opacity: .9;
}

.refresh-icon {
    padding: 8px;
    width: 3em;
    cursor: pointer;
    opacity: .9;
}


/*
.refresh:hover .refresh-text,
.refresh:focus .refresh-text {
    visibility: visible;
} */